<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.entertainment</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>mp4</string>
          <string>mkv</string>
          <string>flv</string>
          <string>avi</string>
          <string>mov</string>
          <string>wmv</string>
          <string>rmvb</string>
          <string>flv</string>
          <string>webm</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>electron.ico</string>
        <key>CFBundleTypeName</key>
        <string>Video</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>mp3</string>
          <string>wav</string>
          <string>aac</string>
          <string>flac</string>
          <string>m4a</string>
          <string>wma</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>electron.ico</string>
        <key>CFBundleTypeName</key>
        <string>Audio</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Any</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>****</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>LSTypeIsPackage</key>
        <false/>
      </dict>
    </array>
    <key>UTExportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.text</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Alphabiz Encrypted Key</string>
        <key>UTTypeIconFile</key>
        <string>electron.ico</string>
        <key>UTTypeIdentifier</key>
        <string>org.zeeis.alphabiz.key</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>abk</string>
          </array>
          <key>public.mime-type</key>
          <string>application/x-alphabizkey</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>